<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node-web-server-project</title>
  </head>
  <body>
    {{> header}}
    <p>some text here</p>
    <p><a href='/'>HOME</a></p>

    {{> footer}}
  </body>
</html>