<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node-web-server-project</title>
  </head>
  <body>
   {{> header}}
    <p>{{welcomeMessage}}</p>
    <p><a href='/'>HOME</a></p>
    <p><a href='/about'>ABOUT</a></p
  
    {{> footer}}
  </body>
</html>